In [ ]:
import pandas as pd
import sqlite3

# Load orders
orders = pd.read_csv("orders.csv")

# Load users
users = pd.read_json("users.json")

# Create DB and load SQL
conn = sqlite3.connect("restaurants.db")
cursor = conn.cursor()

with open("restaurants.sql", "r") as f:


      conn.commit()

# Read restaurants table
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)

# Merge
df = orders.merge(users, on="user_id", how="left")
final_df = df.merge(restaurants, on="restaurant_id", how="left")

final_df.to_csv("final_food_delivery_dataset.csv", index=False)
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)
restaurants.head()
orders = pd.read_csv("orders.csv")
users = pd.read_json("users.json")

orders.head()
users.head()
df = orders.merge(users, on="user_id", how="left")
final_df = df.merge(restaurants, on="restaurant_id", how="left")
final_df.head()
final_df.isnull().sum()

final_df.shape

(10000, 12)

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian
...,...,...,...,...,...,...
9995,9996,2528,249,21-05-2023,1211.96,Royal Kitchen North Indian
9996,9997,2867,267,06-08-2023,1188.05,Darbar Cafe Punjabi
9997,9998,522,420,11-11-2023,979.44,Ruchi Tiffins Chinese
9998,9999,319,492,08-09-2023,1105.93,Swagath Kitchen North Indian
9999,10000,457,439,21-10-2023,879.58,Classic Cafe Family Restaurant

In [ ]:
users

      user_id       name       city membership
0           1     User_1    Chennai    Regular
1           2     User_2       Pune       Gold
2           3     User_3  Bangalore       Gold
3           4     User_4  Bangalore    Regular
4           5     User_5       Pune       Gold
...       ...        ...        ...        ...
2995     2996  User_2996  Hyderabad       Gold
2996     2997  User_2997  Hyderabad    Regular
2997     2998  User_2998  Bangalore    Regular
2998     2999  User_2999       Pune    Regular
2999     3000  User_3000  Hyderabad       Gold

[3000 rows x 4 columns]

In [ ]:
restaurants

     restaurant_id restaurant_name  cuisine  rating
0                1    Restaurant_1  Chinese     4.8
1                2    Restaurant_2   Indian     4.1
2                3    Restaurant_3  Mexican     4.3
3                4    Restaurant_4  Chinese     4.1
4                5    Restaurant_5  Chinese     4.8
..             ...             ...      ...     ...
495            496  Restaurant_496   Indian     3.1
496            497  Restaurant_497  Mexican     4.4
497            498  Restaurant_498  Chinese     3.9
498            499  Restaurant_499  Mexican     4.9
499            500  Restaurant_500  Chinese     3.2

[500 rows x 4 columns]

In [ ]:
final_df.dtypes

order_id               int64
user_id                int64
restaurant_id          int64
order_date            object
total_amount         float64
restaurant_name_x     object
name                  object
city                  object
membership            object
restaurant_name_y     object
cuisine               object
rating               float64
dtype: object